@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Mulish:wght@400;800&display=swap");
@font-face {
  font-family: "Dela Gothic One";
  src: url("../DelaGothicOne-Regular.ttf");
}
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Mulish", sans-serif;
  background: linear-gradient(
      313deg,
      #b3cf55 13.44%,
      #d4d36a 32.7%,
      #d4d36a 32.71%,
      rgba(214, 213, 113, 0.35) 53.54%,
      rgba(255, 255, 255, 0) 73.85%,
      rgba(121, 121, 116, 0.16) 82.71%,
      #797974 100%
    )
    no-repeat;
  color: #181c06;
}
.container {
  max-width: 1160px;
  margin: 0 auto;
}
.header {
  padding: 45px 0 37px;
  border-bottom: 3px solid #181c06;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items:center;
}
.logo-text {
  font-family: "Dela Gothic One", "Mulish", sans-serif !important;
  list-style: none;
}
.menu-list {
  list-style: none;
  display: flex;
  gap: 47px;
  margin-top: 2px;
}
.menu-item a {
  font-size: 24px;
  text-decoration: none;
  color: #181c06;
  cursor: pointer;
  transition: 0.3s;
}
.menu-item a:hover{
  font-size: 24px;
  text-decoration: underline;
  color: #B3CF55;
  cursor: pointer;
}
.header-btns {
  display: flex;
}
.button {
  background: none;
  border: 3px solid #797974;
  width: 155px;
  height: 35px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  vertical-align: center;
  margin-left: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.button:hover{
  background-color: #B3CF55;
}
.button-ellipse {
  border: 3px solid #797974;
  border-radius: 60px;
  width: 30.2px;
  height: 30.2px;
  transition: 0.3s;
}
.button-ellipse:hover{
  background-color: #B3CF55;
}
.button-ellipse-img {
  width: 14px;
  height: 17px;
  padding: 7px 8px;
  border: none;
}
.main {
  padding-top: 30px;
}
.title {
  color: #181c06;
  font-size: 64px;
  font-weight: 400;
  font-family: "Dela Gothic One", "Mulish", sans-serif !important;
  text-transform: uppercase;
  margin: 30px 254px 35px;
}
.text {
  color: #181c06;
  text-align: center;
  max-width: 810px;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 176px;
}
.title-info {
  font-family: "Dela Gothic One";
  font-size: 24px;
  padding-bottom: 30px;
}
.titke-link a {
  color: #181c06;
  text-decoration: none;
}
.cards {
  display: flex;
  gap: 20px;
}
.card {
  width: 275px;
  height: 324px;
  border-radius: 8px;
  background: #d4d36a;
}
.card img {
  padding: 12px 12px 0 12px;
}
.card-name {
  font-size: 16px;
  padding-left: 12px;
}
.card-author {
  color: rgba(24, 28, 6, 0.4);
  padding-left: 12px;
  padding-top: 2px;
}
.button-big {
  background: none;
  border: 3px solid #797974;
  width: 265px;
  height: 42px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  vertical-align: center;
  transition: 0.3s;
}
.button-big:hover{
  background-color:#B3CF55;
}
input {
  background: none;
  border: 3px solid #797974;
  width: 267.2px;
  height: 37.2px;
  border-radius: 8px;
  font-family: "Dela Gothic One";
  font-size: 14px;
  font-weight: 400;
  padding-left: 20px;
}
.form {
  display: flex;
  gap: 14px;
  margin: 45px 277px 68px;
}

.footer {
  padding: 30px 0;
  border-top: 3px solid #181c06;
  margin-top: 45px;
  align-items: center;
}
.logo-footer {
  font-family: "Dela Gothic One", "Mulish", sans-serif;
  font-size: 24px;
  text-decoration: none;
  color:#181c06;
}
.menu-footer {
  margin-top: 15px;
}
.menu-list-footer {
  list-style: none;
  display: flex;
  gap: 24px;
  margin-top: 2px;
  align-items: center;
}
.footer .container {
  display: flex;
  justify-content: space-between;
}
.menu-item-footer a {
  font-size: 16px;
  text-decoration: none;
  color: #181c06;
  cursor: pointer;
  transition: 0.3s;
}
.menu-item-footer a:hover {
  font-size: 16px;
  text-decoration: none;
  color: #797974;
  cursor: pointer;
}
.footer-info {
  font-size: 12px;
}
.social {
  margin-top: 15px;
}
.social-list {
  display: flex;
  gap: 30px;
}
.social-item {
  list-style: none;
  text-decoration: none;
}
